*{
    margin: 0;
    box-sizing: border-box;
}
#body{
    background-color: efefef;
}
nav{
    background-color: #ef994a;
    height: 13vh;
    display: flex;
}
#nav_one{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#nav_one h1{
    color: white;
    font-size: 30px;
    font-weight: 50;
    font-family: cursive;

}
#nav_two{
    flex-basis: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#nav_two a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: cursive;

}
header{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: rgb(216, 216, 225);
    height: 10vh;
    display: grid;
    place-items: center;
    font-size: 50px;
    font-family: monospace;
}
#about{
    background-color: #fff;
    height: 50vh;
    display: flex;
}
#about_one{
    /* border: 2px solid red; */
    flex-basis: 35%;
    align-content: center;
}
#about_two{
    /* border: 2px solid red; */
    flex-basis: 65%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about_one h1{
    font-size: 45px;

}
#about_two p{
    padding: 30px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
  
}


#projects{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction:column ;
}
#project_one{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ef994a;
}
#project_one>h1{
    font-size: 50px;
    font-family: cursive;
    color: white;
    font-size: italic;
}
#project_two{
    flex-basis: 80%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}
#pro_one,
#pro_two{
    padding: 20px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#pro_one>h1,
#pro_two>h1{
    font-size: 26px;
    text-transform: capitalize;
    font-family: cursive;
    font-style: italic;
}
#pro_one>p,
#pro_two>p{
    /* font-size: 20px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    color: #222121;
    text-align: justify; */
    padding: 30px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}
span{
    color: red;
}
#achievements,
#contact{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
#achievement_one,
#contact_heading{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ef994a;
}
#achievement_one>h1,
#contact_heading>h1{
    font-size: 50px;
    font-family: cursive;
    color: white;
    font-style: italic;
}
#achievement_two{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#ach_one,
#ach_two,
#ach_three{
    border: 2px solid #f3f2f2;
    padding: 30px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    
}
#ach_one>h1,
#ach_two>h1,
#ach_three>h1{
    font-size: 30px;
    font-family: cursive;
    font-style: italic;
}
ul>li{
    font-size: 17px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    color: #222121;
    text-align: justify;
}
#contact_form{
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #efefef;
    border-radius: 20px;
    gap: 30px;
}
label{
    font-size: 20px;
    color: #111;
    font-family: cursive;
    font-style: italic;
}
input{
    border: none;
    padding: 10px 20px;
}
textarea{
    border: none;
}
input,textarea:focus{
    outline: none;
}
[type="submit"]{
    background-color: #fff;
    font-weight: bold;
    font-style: italic;
    padding: 10px 70px;
    border-radius: 7px;
}
#links{
    flex-basis: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
#links>a{
    text-decoration: none;
    font-size: 21px;
    color: white;
    font-family: cursive;
    font-style: italic;
    padding-right: 25px;
}
#links>a:not(#ignore){
    border-right: 2px solid white;
}